---
layout: default
title: Home
title_html: Welcome!
description: Stride is an open-source MIT C# game engine designed for the future of gaming.
---
{% include carousel_home.html %}
<div class="bg-darka">
    <div class="container-xxl mt-5 mt-sm-0 px-4a px-sm-5a">
        <div class="row g-5 py-sm-5">
            <div class="col-sm-12 col-lg-7">
                <div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SlipyjcEb0g?controls=0&autoplay=1&mute=1&loop=1&playlist=SlipyjcEb0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-5 order-last order-sm-first">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h1 class="h1 mb-3">Open-source C# Game Engine</h1>
                        <p class="lead">Stride is a free and open-source 2D and 3D cross-platform game engine.
                        <p class="lead">Stride can be used to create video games for PC, mobile devices and virtual reality or interactive content.</p>
                        <div class="mt-5">
                            <a href="/download/" class="btn btn-lg btn-primary me-2 mb-3">
                                <i class="fa-solid fa-download"></i> Download 4.1
                            </a>
                            <a href="{{ site.github-url }}" class="btn btn-lg btn-outline-primary mb-3">
                                <i class="fa-brands fa-github text-decoration-none"></i> Source Code (MIT)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-lighta">
    <div class="container-xxl mt-5 mt-sm-0 px-4a px-sm-5a">
        <div class="row g-5 py-sm-5">
            <div class="col-sm-12 col-lg-7">
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m4bC4h0aXfA?autoplay=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h2 class="h1 mb-3">Bet of the future</h2>
                        <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>Next-gen graphics API support</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>Photorealistic rendering</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>Fully multi-threaded</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>VR ready</li>
                        </ul>
                        <div class="mt-5">
                            <a href="/features" class="btn btn-lg btn-outline-primary me-md-2">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-darka">
    <div class="container-xxl mt-5 mt-sm-0 px-4a px-sm-5a">
        <div class="row g-5 py-sm-5">
            <div class="col-sm-12 col-lg-7">
                <img src="/assets/img/stride-studio-editor.jpg" alt="editor_game.jpg" width="816" height="459" class="img-fluid">
            </div>
            <div class="col-lg-5 order-last order-sm-first">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h2 class="h1 mb-3">Accelerated development</h2>
                        <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>C# 10 scripting with .NET 6</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>Built-in game templates</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>Full asset creation toolchain</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>Flexible and customizable rendering pipeline</li>
                        </ul>
                        <div class="mt-5">
                            <a href="/features" class="btn btn-lg btn-outline-primary me-md-2">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-lighta">
    <div class="container-xxl mt-5 mt-sm-0 px-4a px-sm-5a">
        <div class="row g-5 py-sm-5">
            <div class="col-sm-12 col-lg-7">
                <img src="/images/backgrounds/toppage_poster.jpg" alt="Game Image" width="816" height="459" class="img-fluid">
            </div>
            <div class="col-lg-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h2 class="h1 mb-3">Collaborate with us</h2>
                        <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>Editor and runtime open source (MIT)</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>Participate in the community</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span>Propose changes to the engine and docs</li>
                        </ul>
                        <div class="mt-5">
                            <a href="/features" class="btn btn-lg btn-outline-primary me-md-2">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-darka">
    <div class="container-xxl mt-5 mt-sm-0 px-4a px-sm-5a">
        <div class="row g-5 py-sm-5">
            <div class="col-sm-12 col-lg-7">
                <img src="/images/top/platforms.png" alt="Platforms Image" width="816" height="459" class="img-fluid">
            </div>
            <div class="col-lg-5 order-last order-sm-first">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h2 class="h1 mb-3">Develop once, deploy cross-platform</h2>
                        <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span> Windows Desktop & Windows Universal</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span> iOS and Android through Xamarin</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span> Xbox One via UWP</li>
                        </ul>
                        <div class="mt-5">
                            <a href="/features" class="btn btn-lg btn-outline-primary me-md-2">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-lighta">
    <div class="container-xxl mt-5 mt-sm-0 px-4a px-sm-5a">
        <div class="row g-5 py-sm-5">
            <div class="col-sm-12 col-lg-7">
                <img src="/images/backgrounds/stride-game-code-short-rotated.png" alt="Game Image" width="816" height="459" class="img-fluid">
            </div>
            <div class="col-lg-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h2 class="h1 mb-3">Write your Stride scripts in C# 10</h2>
                        <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                            <li>
                                <span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span> IntelliSense and code navigation for C#
                            </li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span> Use Visual Studio, Visual Studio Code or Rider</li>
                            <li><span class="fa-li"><i class="fa-solid fa-circle-check text-primary me-2"></i></span> Game Development with .NET 6</li>
                        </ul>
                        <div class="mt-5">
                            <a href="/features" class="btn btn-lg btn-outline-primary me-md-2">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-darka">
    <div class="container-xxl mt-5 mt-sm-0 px-4a px-sm-5a">
        <div class="row text-center">
            <div class="col">
                <h2 class="h1 mb-3">Our Platinum Sponsors</h2>
                <h3 class="mb-5">Many thanks to them for supporting Stride</h3>
                <div class="row pt-5 g-5 row-cols-1 row-cols-md-3 text-center">
                    {% include sponsor-diamond.html %}
                    {% include sponsor-platinum.html %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-lighta">
    <div class="container-xxl mt-5 mt-sm-0 px-4a px-sm-5a">
        <div class="row g-5 py-sm-5">
            <div class="col-sm-12 col-lg-7 d-md-flex p-5 text-center">
                <img src="/images/Silicon_Studio_logo.svg" alt="Silicon Studio" class="img-fluid p-5">
            </div>
            <div class="col-lg-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h2 class="h1 mb-3">History</h2>
                        <p class="lead">Xenko was originally started by <b><a href="http://www.siliconstudio.co.jp/en/">Silicon Studio</a></b>, a technology and services company of 300+ employees founded in 2000, dedicated to driving entertainment forward. Silicon Studio develops world-class products to help developers maximize the potential of leading-edge digital media technology.</p>
                        <p class="lead">In 2018, Silicon Studio turned Xenko into an independent open-source community-driven project.</p>
                        <p class="lead">In 2020, Xenko was renamed to Stride.</p>
                        <p class="lead">In 2021 May, Stride joined .NET foundation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>