---
layout: default
title: Search
permalink: /search
---
<div class="bg-light bg-bottom-border">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 gantry-width-block rt-left">
                <h1>Search results for <span id="search-result-term" class="rt-accent-color1"></span></h1>
                <ul id="search-results"></ul>
                <script>
                    window.store = {
                    {% for post in site.posts %}
                      "{{ post.url | slugify }}": {
                        "title": "{{ post.title | strip_html | xml_escape }}",
                        "author": "{{ post.author | xml_escape }}",
                        "category": "{{ post.category | xml_escape }}",
                        "tags": "{{ post.tags | join: ', ' | xml_escape }}",
                        "content": {{ post.content | strip_html | strip_newlines | normalize_whitespace | jsonify }},
                        "url": "{{ site.url }}{{ post.url | xml_escape }}"
                      },
                    {% endfor %}
                    {% assign pages = site.html_pages | where_exp: "page", "page.exclude-search != true" %}
                    {% for page in site.html_pages %}
                      "{{ page.url | slugify }}": {
                        "title": "{{ page.title | strip_html | xml_escape }}",
                        "author": "{{ page.author | xml_escape }}",
                        "category": "{{ page.category | xml_escape }}",
                        "tags": "{{ page.tags | join: ', ' | xml_escape }}",
                        "content": {{ page.content | strip_html | strip_newlines | normalize_whitespace | jsonify }},
                        "url": "{{ site.url }}{{ page.url | xml_escape }}"
                      },
                    {% endfor %}
                  };
                </script>
                <script src="/scripts/search.js"></script>
            </div>
        </div>
    </div>
</div>