---
layout: page
title: Support the Future of Stride
permalink: /sponsor/
banner:
  title: Sponsor
  sub-title: The Freedom to Create Your Own Game
  image-url: /images/backgrounds/spaceescape.jpg
  h1: false
---
<div class="row">
    <h2>Donate</h2>
    <div class="col-lg-7 col-md-6">
        <p class="lead">Stride is a community-driven free and open source project.</p>
        <p class="lead">A big shout out to all those who sponsor the Stride Game Engine.</p>
        <p>
            <img alt="Financial Contributors badge" src="https://opencollective.com/stride3d/tiers/badge.svg" />
        </p>
        <p class="my-5">
            <a href="https://opencollective.com/stride3d" target="_blank" rel="noopener">
                <img src="https://opencollective.com/stride3d/donate/button@2x.png?color=blue" width=300 />
            </a>
        </p>
    </div>
    <div class="col-lg-5 col-md-6">
        <a href="/images/features/gamestudio/overview.jpg" title="The GameStudio Editor" class="feature-image-container image-popup">
            <img alt="" class="img-fluid" src="/images/features/gamestudio/overview.jpg" />
        </a>
    </div>
</div>
<h2 class="mb-3">Diamond Striders</h2>
<div class="row">
    {% include sponsor-diamond.html %}
</div>

<h2 class="mb-3 mt-4">Platinnum Striders</h2>
<div class="row">
    {% include sponsor-platinum.html %}
</div>
<div class="row mb-3 mt-4">
    <div class="col-md-4">
        <h2 class="text-center">Gold Striders</h2>
        <object type="image/svg+xml" data="https://opencollective.com/stride3d/tiers/gold-strider.svg?avatarHeight=40&button=false&width=290"></object>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Silver Striders</h2>
        <object type="image/svg+xml" data="https://opencollective.com/stride3d/tiers/silver-strider.svg?avatarHeight=40&button=false&width=290"></object>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Bronze Striders</h2>
        <object type="image/svg+xml" data="https://opencollective.com/stride3d/tiers/bronze-strider.svg?avatarHeight=40&button=false&width=290"></object>
    </div>
</div>
<div class="container-xxl">
    <div class="row">
        <div class="col-12 text-center">
            <h2>All Stride Sponsors</h2>
            <script src="https://opencollective.com/stride3d/banner.js"></script>
        </div>
    </div>
</div>