<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
            <remove fileExtension=".html" />
            <remove fileExtension=".json" />
            <remove fileExtension=".css" />
            <remove fileExtension=".webp" />
            <remove fileExtension="woff" />
            <remove fileExtension="woff2" />
            <remove fileExtension=".mp4" />

            <mimeMap fileExtension=".html" mimeType="text/html" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension="woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>

        <!-- The default \404.html should be used instead -->
        <!--<httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" path="404\index.html" responseMode="File" />
        </httpErrors>-->

        <rewrite>
            <rules>
                <rule name="Redirect xenko.com to stride3d.net" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)xenko\.com$" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}stride3d.net/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect /privacypolicy to /legal/privacy-policy">
                    <match url="^privacypolicy(.*)$" />
                    <action type="Rewrite" url="legal/privacy-policy{R:1}"/>
                </rule>
                <rule name="Redirect all requests to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action
                       type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}"
                       redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="Redirect Blog Page 2" stopProcessing="true">
                    <match url="^blog/page2/$" />
                    <action type="Redirect" url="blog/1/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Blog Page 3" stopProcessing="true">
                    <match url="^blog/page3/$" />
                    <action type="Redirect" url="blog/2/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Blog Page 4" stopProcessing="true">
                    <match url="^blog/page4/$" />
                    <action type="Redirect" url="blog/3/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Blog Page 5" stopProcessing="true">
                    <match url="^blog/page5/$" />
                    <action type="Redirect" url="blog/4/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Blog Page 6" stopProcessing="true">
                    <match url="^blog/page6/$" />
                    <action type="Redirect" url="blog/5/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Blog Page 7" stopProcessing="true">
                    <match url="^blog/page7/$" />
                    <action type="Redirect" url="blog/6/" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>

        <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="application/x-javascript" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="application/x-javascript" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </staticTypes>
        </httpCompression>
    </system.webServer>
</configuration>