<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <img height="37" width="124" src="/images/svg/logo.svg" alt="Stride logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            {% assign menu_current = page.url | remove: '/' %}
            {% assign menu_blog = menu_current | slice: 0,4 %}
            <ul class="navbar-nav navbar-nav--text me-auto mb-2 mb-lg-0 ms-sm-2">
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='features' %} active text-primary{% endif %}" aria-current="page" href="/features/">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='blog' or menu_blog=='blog' %} active text-primary{% endif %}" href="/blog/">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Learn</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ site.links.docs-manual-url }}">Manual (EN)</a></li>
                        <li><a class="dropdown-item" href="{{ site.links.docs-manual-jp-url }}">Manual (JP)</a></li>
                        <li><a class="dropdown-item" href="{{ site.links.docs-api-url }}">API</a></li>
                        <li><a class="dropdown-item" href="{{ site.links.docs-release-notes-url }}">Release Notes</a></li>
                        <li><a class="dropdown-item" href="{{ site.links.docs-tutorial-url }}">Tutorials</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='community' %} active text-primary{% endif %}" href="/community/">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='download' %} active text-primary{% endif %}" href="/download/">
                        Download
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='sponsor' %} active text-primary{% endif %}" href="/sponsor/">
                        <i class="fa-solid fa-heart text-decoration-none"></i> Sponsor
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto navbar-icons">
                <li class="nav-item col-12 col-lg-auto dropdown">
                    <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false" onclick="document.getElementById('search-input').focus()" aria-label="Search button"><i class="fa-solid fa-magnifying-glass text-decoration-none"></i></a>
                    <div class="dropdown-menu dropdown-menu-end p-3" style="width: 280px;">
                        {% include search-form.html id:"search-input" %}
                    </div>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link py-2 px-0 px-lg-2" href="{{ site.links.github-stride-url }}" target="_blank" rel="noopener" aria-label="GitHub link">
                        <i class="fa-brands fa-github text-decoration-none"></i>
                        <small class="d-lg-none">GitHub</small>
                    </a>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link py-2 px-0 px-lg-2" href="{{ site.links.twitter-url }}" target="_blank" rel="noopener" aria-label="Twitter link">
                        <i class="fa-brands fa-twitter text-decoration-none"></i>
                        <small class="d-lg-none">Twitter</small>
                    </a>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link py-2 px-0 px-lg-2" href="{{ site.links.discord-url }}" target="_blank" rel="noopener" aria-label="Discor link">
                        <i class="fa-brands fa-discord text-decoration-none"></i>
                        <small class="d-lg-none">Discord</small>
                    </a>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link px-0 px-lg-2" href="{{ site.links.open-collective-url }}" target="_blank" rel="noopener" aria-label="Open Collective link">
                        {% include svg-icons.html type:'open-collective' size:20 %}
                        <small class="d-lg-none">Open Collective</small>
                    </a>
                </li>{% if site.dark-mode %}
                <li class="nav-item dropdown">
                    <a title="Change theme" class="nav-link dropdown-toggle" href="#" id="themeDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <ul class="dropdown-menu" aria-labelledby="themeDropdown">
                        <li>
                            <a class="dropdown-item" href="#" id="lightTheme">
                                <svg data-theme="light" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
                                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                                </svg>
                                Light
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="#" id="darkTheme"><i class="fas fa-moon text-decoration-none" data-theme="dark"></i> Dark</a></li>
                        <li><a class="dropdown-item" href="#" id="autoTheme"><i class="fas fa-adjust text-decoration-none" data-theme="auto"></i> Auto</a></li>
                    </ul>
                </li>{% endif %}
            </ul>
        </div>
    </div>
</nav>