<div class="text-center mt-5" style="margin-top: -50px;">
    <p>
        <a data-bs-toggle="collapse" href="#footer-1" class="mb-1 btn btn-sm btn-secondary">Toggle Footer 1 - Bg Light</a>
        <a data-bs-toggle="collapse" href="#footer-2" class="mb-1 btn btn-sm btn-secondary">Toggle Footer 2 - Bg Dark</a>
        <a data-bs-toggle="collapse" href="#footer-3" class="mb-1 btn btn-sm btn-secondary">Toggle Footer 3 - Bg Image</a>
        <a data-bs-toggle="collapse" href="#footer-4" class="mb-1 btn btn-sm btn-secondary">Toggle Footer 4 - Bg Image - Blue</a>
        <a data-bs-toggle="collapse" href="#footer-5" class="mb-1 btn btn-sm btn-secondary">Toggle Footer 5 - Bg Image - Green</a>
        <a data-bs-toggle="collapse" href="#footer-6" class="mb-1 btn btn-sm btn-secondary">Toggle Footer 6 - Bg Image - Pale</a>
    </p>
</div>