<div class="{{ include.bg }} mt-auto" id="footer-{{ include.id }}">
    <div class="container">
        <footer class="pt-5 px-2">
            <div class="row">
                <div class="col-6 col-lg-2 mb-3">
                    <h5>Links</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/features/" class="nav-link p-0 {{ include.btn-class }}">Features</a></li>
                        <li class="nav-item mb-2"><a href="/blog/" class="nav-link p-0 {{ include.btn-class }}">Blog</a></li>
                        <li class="nav-item mb-2"><a href="/download/" class="nav-link p-0 {{ include.btn-class }}">Download</a></li>
                        <li class="nav-item mb-2"><a href="/legal/" class="nav-link p-0 {{ include.btn-class }}">Legal</a></li>
                        <li class="nav-item mb-2"><a href="/contact/" class="nav-link p-0 {{ include.btn-class }}">Contact us</a></li>
                        <li class="nav-item mb-2"><a href="/legal/privacy-policy/" class="nav-link p-0 {{ include.btn-class }}">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>Documentation</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{{ site.docs-manual-url }}" class="nav-link p-0 {{ include.btn-class }}">Manual</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.docs-api-url }}" class="nav-link p-0 {{ include.btn-class }}">Stride API</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.docs-release-notes-url }}" class="nav-link p-0 {{ include.btn-class }}">Release notes</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.docs-tutorial-url }}" class="nav-link p-0 {{ include.btn-class }}">Tutorials</a></li>
                    </ul>
                </div>

                <div class="col-6 col-lg-2 mb-3">
                    <h5>Community</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{{ site.open-collective-url }}" class="nav-link p-0 {{ include.btn-class }}">Open Colective</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.discord-url }}" class="nav-link p-0 {{ include.btn-class }}">Discord</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.github-url }}" class="nav-link p-0 {{ include.btn-class }}">GitHub</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.twitter-url }}" class="nav-link p-0 {{ include.btn-class }}">Twitter</a></li>
                        <li class="nav-item mb-2"><a href="/faq/" class="nav-link p-0 {{ include.btn-class }}">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="/sponsor/" class="nav-link p-0 {{ include.btn-class }}">Sponsor</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.github-discussions-url }}" class="nav-link p-0 {{ include.btn-class }}">Discussions</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-6 mb-3 text-start text-lg-end">
                    <a class="{{ include.social-class }} me-2 text-decoration-none mb-3 d-inline-block" href="{{ site.github-url }}">
                        <i class="fa-brands fa-xl fa-github text-decoration-none"></i>
                    </a>
                    <a class="{{ include.social-class }} me-2 text-decoration-none" href="{{ site.discord-url }}">
                        <i class="fa-brands fa-xl fa-discord text-decoration-none"></i>
                    </a>
                    <a class="{{ include.social-class }} me-2 text-decoration-none" href="{{ site.twitter-url }}">
                        <i class="fa-brands fa-xl fa-twitter text-decoration-none"></i>
                    </a>
                    <a class="{{ include.social-class }} me-2 text-decoration-none" href="{{ site.open-collective-url }}">
                        {% include svg-icons.html type='open-collective' size=23 %}
                    </a>
                    <a class="{{ include.social-class }} me-2 text-decoration-none" href="{{ site.facebook-url }}">
                        <i class="fa-brands fa-xl fa-facebook text-decoration-none"></i>
                    </a>
                    <a class="{{ include.social-class }} me-2 text-decoration-none" href="{{ site.youtube-url }}">
                        <i class="fa-brands fa-xl fa-youtube text-decoration-none"></i>
                    </a>
                    <a class="{{ include.social-class }} me-2 text-decoration-none" href="/feed.xml">
                        <i class="fa-solid fa-rss fa-xl text-decoration-none"></i>
                    </a>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-between pt-3 pb-4 text-center small">
                <p>Supported by the <a class="{{ include.social-class }}" href="{{ site.dotnet-foundation }}">.NET Foundation</a></p>
                <p>© .NET Foundation and Contributors</p>
            </div>
        </footer>
    </div>
</div>