<div class="{{ include.bg }}">
    <div class="container-xxl py-5 px-4 px-sm-5">
        <div class="card">
            <div class="card-body p-4">
                <div class="row g-4 g-lg-5">
                    <div class="col-sm-12 col-lg-7">
                        {{ include.media }}
                    </div>
                    <div class="col-lg-5 order-last order-sm-first">
                        <h2 class="h1 mb-3">{{ include.title }}</h2>
                        {{ include.body }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>