<div class="card mb-4">
    <ul class="list-group list-group-flush">
        <li class="list-group-item active">
            <h4 class="mb-0 fw-normal">Popular Posts</h4>
        </li>
        {% assign posts = collections.blog reversed %}
        {% for post in posts %}
        {% if post.data.popular == true %}
        <li class="list-group-item  list-group-item-action">
            <a href="{{ post.url }}">
                {{ post.data.title }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>