{% comment %} Create cards manually, or move them to json {% endcomment %}
<div class="col-lg-4">
    <div class="card text-center">
        <img class="card-img-top" alt="logo" src="/images/sponsors/logo_vvvv.png">
        <div class="card-body">
            <p class="card-text">vvvv is a visual live-programming environment for easy prototyping and development.</p>
            <a target="_blank" rel="noopener" href="https://vvvv.org/" class="btn btn-outline-secondary stretched-link">Visit</a>
            <p class="mt-4">
                <span class="badge bg-stride me-1 mb-1">Sponsor</span>
                <span class="badge bg-warning me-1 mb-1">Golden</span>
                <span class="badge bg-primary me-1 mb-1">Technology</span>
                <span class="badge bg-info me-1 mb-1">Visualisation</span>
                <span class="badge bg-success me-1 mb-1">Partner</span>
            </p>
        </div>
    </div>
</div>