---
layout: default
title: Blog
---
<div class="bg-dark">
    <div class="container">
        <h1 class="pt-2 pb-1" title="Stride Blog">Stride Blog</h1>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                {% for post in paginator.posts %}
                <article class="card mb-4 p-4">
                    <div class="row justify-content-center">
                        <div class="text-center col-lg-4 col-md-12 d-none d-lg-block pe-2">
                            {% if post.image_thumb %}
                            <a href="{{ post.url }}">
                                <img loading="lazy" class="mt-2 p-4 lazyloaded img-fluid" src="{{ post.image_thumb }}" alt="{{ post.title }}" data-src="{{ post.image_thumb }}">
                            </a>
                            {% elsif post.image %}
                            <a href="{{ post.url }}">
                                <img loading="lazy" class="mt-2 p-4 lazyloaded img-fluid" src="{{ post.image }}" alt="{{ post.title }}" data-src="{{ post.image }}">
                            </a>
                            {% else %}
                            <a href="{{ post.url }}">
                                <img loading="lazy" class="mt-2 p-4 lazyloaded img-fluid" src="/images/blog/default_thumb.png" alt="Image not found" data-src="/images/blog/default_thumb.png">
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-lg-8 col-md-12 post-card-header">
                            <h3 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                            {% include post/meta.html %}
                            <p>
                                {{ post.excerpt | strip_html | truncatewords: 19 }}
                            </p>
                            {% include post/tags.html tags=post.tags %}
                        </div>
                    </div>
                </article>
                {% endfor %}
                <nav class="justify-content-center d-flex">
                    {% assign paginator_divider =  paginator.total_pages | minus:paginator.page %}
                    <ul class="pagination stride-custom-pagination">
                        {% if paginator.page > 1 %}
                        <li class="page-item">
                            <a href="{{ paginator.previous_page_path }}" class="stride-paginate-arrow-prev page-link">&laquo; Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="stride-paginate-arrow-prev page-link">&laquo; Previous</span>
                        </li>
                        {% endif %}
                        {% if paginator.page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="/blog">1</a>
                        </li>
                        {% endif %}
                        {% if paginator.page > 4 %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                        {% endif %}
                        {% if paginator.page > 3 %}
                        <li class="page-item">
                            <a class="page-link" href="/blog/page{{ paginator.page | minus:2 }}/">{{ paginator.page | minus:2 }}</a>
                        </li>
                        {% endif %}
                        {% if paginator.page > 2 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ paginator.previous_page_path }}">{{ paginator.previous_page }}</a>
                        </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <span class="page-link">{{ paginator.page }}</span>
                        </li>
                        {% if paginator_divider > 0 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ paginator.next_page_path }}">{{ paginator.next_page }}</a>
                        </li>
                        {% endif %}
                        {% if paginator_divider > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="/blog/page{{ paginator.page | plus:2 }}/">{{ paginator.page | plus:2 }}</a>
                        </li>
                        {% endif %}
                        {% if paginator_divider > 3 %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                        {% endif %}
                        {% if paginator_divider > 2 %}
                        <li class="page-item">
                            <a class="page-link" href="/blog/page{{ paginator.total_pages }}/">{{ paginator.total_pages }}</a>
                        </li>
                        {% endif %}
                        {% if paginator.page != paginator.total_pages %}
                        <li class="page-item">
                            <a href="{{ paginator.next_page_path }}" class="stride-paginate-arrow-next page-link">Next &raquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="stride-paginate-arrow-next page-link">Next &raquo;</span>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <aside class="col-lg-3 col-md-4 col-sm-12">
                <div class="card mb-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item active">
                            <h5 class="mb-0 fw-normal">Popular Posts</h5>
                        </li>
                        {% for post in site.posts %}
                        {% if post.popular == true %}
                        <li class="list-group-item  list-group-item-action">
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="card mb-4 p-3">
                    <h5>Latest Posts</h5>
                    <ul style="padding-left: 17px;">
                        {% for post in site.posts limit:5 %}
                        <li>
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr />
                    <h5>Resources</h5>
                    <ul style="padding-left: 17px;">
                        <li>
                            <a title="Blender" href="https://www.blender.org/" target="_blank" rel="noopener">Blender - Free and Open 3D Creation Software</a>
                        </li>
                        <li>
                            <a title="Microsoft C# Docs" href="https://devblogs.microsoft.com/dotnet/category/csharp/" target="_blank" rel="noopener">C# Blog</a>
                        </li>
                        <li>
                            <a title="Microsoft Docs" href="https://docs.microsoft.com/en-us/" target="_blank" rel="noopener" class="x-hidden-focus">Microsoft Docs</a>
                        </li>
                        <li>
                            <a title="Visual Studio Blog" href="https://devblogs.microsoft.com/visualstudio" target="_blank" rel="noopener">
                                Visual Studio Blog
                            </a>
                        </li>
                        <li>
                            <a title="Visual Studio Download" href="https://visualstudio.microsoft.com/downloads/" target="_blank" rel="noopener">
                                Download Visual Studio Community
                            </a>
                        </li>
                        <li>
                            <a title="Visual Studio Code Download" href="https://code.visualstudio.com/" target="_blank" rel="noopener">
                                Download Visual Studio Code
                            </a>
                        </li>
                    </ul>
                    <hr />
                    <h5>Other</h5>
                    <ul style="padding-left: 17px;">
                        <li>
                            <a title="Stride Post Archive" href="/blog/archive" target="_blank" rel="noopener">Archive</a>
                        </li>
                        <li>
                            <a title="Stride Tags" href="/blog/tags" target="_blank" rel="noopener" class="x-hidden-focus">Tags</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
