<p class="d-flex justify-content-between">
    <span>
        <i class="fa-solid fa-calendar-days"></i> {% include post/date.html %}{{ time }}
    </span>
    <span>
        {% if site.disqus_short_name and site.disqus_show_comment_count == true %}
        <i class="fa fa-comments"></i> {% include post/comments_link.html %}
        {% endif %}
    </span>
</p>
<p>
    {% if post.author %}
    {% if post.author-github %}
    <img class="rounded-circle me-2" src="https://avatars.githubusercontent.com/{{ post.author-github }}?size=30" />
    {% endif %}
    {{ post.author }}
    {% else %}{{ site.author }}
    {% endif %}
</p>