<!doctype html>
<html lang="en" class="h-100">
{% include _head.html %}
<body class="bg-dark d-flex flex-column min-vh-100">
    {% include _top-navigation.html %}
    {% if banner %}{% include banner.html title:banner.title sub-title:banner.sub-title image-url:banner.image-url h1:banner.h1 %}{% endif %}
    {{ content }}
    {% include footer.html bg:"bg-footer show text-light" btn-class:"link-primary" social-class:"link-primary" %}
    {% include footer.html bg:"bg-footer show text-light" btn-class:"link-danger" social-class:"link-danger" %}
    {% include footer.html bg:"bg-footer show text-light" btn-class:"link-info" social-class:"link-info" %}
    {% include footer.html bg:"bg-footer show text-light" btn-class:"link-warning" social-class:"link-warning" %}
    {% include footer.html bg:"bg-footer show text-light" btn-class:"link-success" social-class:"link-success" %}
    <script src="{{ site.baseurl}}/scripts/bootstrap.bundle.min.js?site-version={{site.version}}"></script>
</body>
</html>