<!doctype html>
<html lang="en">
{% include head.html %}
<body class="bg-dark">
    <!-- Google Tag Manager (noscript) -->
    <!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHN3F8B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
    <!-- End Google Tag Manager (noscript) -->
    {% include header.html %}
    {{ content }}
    {% include dev-bar.html %}
    {% include footer.html id=1 bg="bg-light" btn-class="link-primary" %}
    {% include footer.html id=2 bg="bg-dark" btn-class="text-muted" %}
    {% include footer3.html %}
    <script src="{{ site.baseurl}}/scripts/site.js"></script>
</body>
</html>