<!doctype html>
<html lang="en">
{% include head.html %}
<body class="bg-dark">
    <!-- Google Tag Manager (noscript) -->
    <!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHN3F8B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
    <!-- End Google Tag Manager (noscript) -->
    {% include header.html %}
    {{ content }}
    {% include dev-bar.html %}
    {% include footer.html id=1 bg="bg-light collapse" btn-class="link-primary" social-class="link-dark" %}
    {% include footer.html id=2 bg="bg-dark collapse" btn-class="text-muted" social-class="link-dark" %}
    {% include footer.html id=3 bg="bg-footer collapse text-light" btn-class="link-light" social-class="link-light" %}
    {% include footer.html id=4 bg="bg-footer collapse text-light" btn-class="link-danger" social-class="link-danger" %}
    {% include footer.html id=5 bg="bg-footer collapse text-light" btn-class="link-warning" social-class="link-warning" %}
    {% include footer.html id=6 bg="bg-footer show text-light" btn-class="link-success" social-class="link-success" %}
    <script src="{{ site.baseurl}}/scripts/site.js"></script>
</body>
</html>