---
layout: default
---
<div class="container">
    <div class="row postcontent">
        <div class="col-12">
            <article>
                <h1>{{ page.title }}</h1>
                <div class="entry-meta entry-meta-layout" style="text-align:center;">
                    <div>
                        {% if page.author %}
                        {% if page.author-github %}
                        <div class="mt-4 mb-2">
                            <img class="rounded-circle" src="https://avatars.githubusercontent.com/{{ page.author-github }}?size=52" />
                        </div>
                        {% endif %}
                        {{ page.author }}
                        {% else %}{{ site.author }}
                        {% endif %}
                    </div>
                    <p style="text-align:center;font-size:14px;color:#616161;margin-top: 20px;padding-top: 6px;border-top: 2px solid #979593;display: inline-block;" class="x-hidden-focus">
                        <i class="fa-solid fa-calendar-days"></i> {% include post/date.html %}{{ time }}
                    </p>
                </div>
                {{ content }}
                <hr />
                {% include post/tags.html tags=page.tags %}
                <p>
                    Any comments? You can start 🗨 at <i class="fa-brands fa-github text-decoration-none"></i> <a href="https://github.com/stride3d/stride/discussions" target="_blank" rel="noopener">GitHub Discussions</a> or <i class="fa-brands fa-discord text-decoration-none"></i> <a class="" href="https://discord.gg/f6aerfE" target="_blank" rel="noopener">Discord</a>.
                </p>
            </article>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 mb-4">
            {% if page.previous.url %}
            <div class="card px-3">
                <div class="card-body p-4">
                    <h5>Previous Post</h5>
                    <a class="stretched-link" href="{{page.previous.url}}">{{page.previous.title}}</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6 text-md-end">
            {% if page.next.url %}
            <div class="card px-3">
                <div class="card-body p-4">
                    <h5>Next Post</h5>
                    <a class="stretched-link" href="{{page.next.url}}">{{page.next.title}}</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>